<?xml version="1.0" ?>
<robot name="motoman_motomini" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find motoman_motomini_support)/urdf/motomini_gazebo.xacro" />
 
  <xacro:property name="M_PI" value="3.1415926535897931" />

  <xacro:include filename="$(find motoman_motomini_support)/urdf/table_macro.xacro" />
  <xacro:include filename="$(find motoman_motomini_support)/urdf/motomini_macro_kinect1.xacro" />
  <xacro:include filename="$(find motoman_motomini_support)/urdf/gripper_macro.xacro" />
  <xacro:include filename="$(find motoman_motomini_support)/urdf/realsense_macro.xacro" />

   <!-- World frame -->
  <link name="world" />

  <xacro:motoman_motomini_table prefix="" parent="world">
  	<origin xyz="0 0 0" rpy="0 0 -${M_PI/2}" />
  </xacro:motoman_motomini_table>

  <xacro:motoman_motomini prefix="" parent="table">
  <origin xyz="0 -0.1015 0.0" rpy="0.0 0.0 ${M_PI/2}" />
  </xacro:motoman_motomini>

  <xacro:motoman_motomini_gripper prefix="" parent="tool0">
  	<origin xyz="0 0 0" rpy="0 -${M_PI/2} ${M_PI}" />
  </xacro:motoman_motomini_gripper>

  <xacro:motoman_motomini_realsense prefix="" parent="gripper_base">
  	<origin xyz="0.05 0 0.055" rpy="0 0 0" />
  </xacro:motoman_motomini_realsense>
</robot>
