<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:macro name="motoman_motomini_gazebo">

<gazebo reference="joint_1_s">
    <mu1>5.0</mu1>
    <mu2>5.0</mu2>
    <material>Gazebo/Grey</material>
    <turnGravityOff>false</turnGravityOff>
</gazebo>

<gazebo reference="joint_2_l">
    <mu1>5.0</mu1>
    <mu2>5.0</mu2>
    <material>Gazebo/Grey</material>
    <turnGravityOff>false</turnGravityOff>
</gazebo>

<gazebo reference="joint_3_u">
    <mu1>5.0</mu1>
    <mu2>5.0</mu2>
    <material>Gazebo/Grey</material>
    <turnGravityOff>false</turnGravityOff>
</gazebo>

<gazebo reference="joint_4_r">
    <mu1>5.0</mu1>
    <mu2>5.0</mu2>
    <material>Gazebo/Grey</material>
    <turnGravityOff>false</turnGravityOff>
</gazebo>

<gazebo reference="joint_5_b">
    <mu1>5.0</mu1>
    <mu2>5.0</mu2>
    <material>Gazebo/Grey</material>
    <turnGravityOff>false</turnGravityOff>
</gazebo>

<gazebo reference="joint_6_t">
    <mu1>5.0</mu1>
    <mu2>5.0</mu2>
    <material>Gazebo/Grey</material>
    <turnGravityOff>false</turnGravityOff>
</gazebo>

<gazebo reference="claw_1b_joint">
    <implicitSpringDamper>1</implicitSpringDamper>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <mu1>10000.0</mu1>
    <mu2>10000.0</mu2>
    <minDepth>0.001</minDepth>
    <turnGravityOff>false</turnGravityOff>
</gazebo>

<!--gazebo reference="finger2">
    <implicitSpringDamper>1</implicitSpringDamper>
    <kp>1000000.0</kp>
    <kd>1.0</kd>
    <mu1>100000</mu1>
    <mu2>100000</mu2>
    <minDepth>0.001</minDepth>
    <turnGravityOff>false</turnGravityOff>
</gazebo-->

<gazebo reference="kinect_link">
    <sensor type="depth" name="camera_1">
      <always_on>true</always_on>
      <visualize>true</visualize>
      <update_rate>15.0</update_rate>
      <camera>
        <horizontal_fov>1.047197</horizontal_fov>
        <image>          
          <format>B8G8R8</format>
          <width>640</width>
          <height>480</height>
        </image>
        <depth_camera>
        </depth_camera>
        <clip>
          <near>0.05</near>
          <far>50</far>
        </clip>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_openni_kinect.so">
        <baseline>0.1</baseline>
        <alwaysOn>true</alwaysOn>
        <updateRate>10.0</updateRate>
        <cameraName>kinect</cameraName>
        <frameName>camera_rgb_optical_frame</frameName>
        <imageTopicName>rgb/image_raw</imageTopicName>
        <depthImageTopicName>depth/image_raw</depthImageTopicName>
        <pointCloudTopicName>depth/points</pointCloudTopicName>
        <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName> 
        <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>       
        <pointCloudCutoff>0.4</pointCloudCutoff>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        <CxPrime>0.0</CxPrime>
        <Cx>0.0</Cx>
        <Cy>0.0</Cy>
        <focalLength>0.0</focalLength>
      </plugin>
    </sensor>
  </gazebo>

<gazebo reference="realsense_link">
    <sensor type="depth" name="intelrealsense2">
      <always_on>1</always_on>
      <visualize>true</visualize>
      <camera>
        <horizontal_fov>1.047</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        <depth_camera>

        </depth_camera>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
      </camera>
      <plugin name="intelrealsense" filename="libgazebo_ros_openni_kinect.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>10.0</updateRate>
        <cameraName>realsense</cameraName>
        <frameName>realsense_depth_optical_frame</frameName>
        <imageTopicName>/realsense/color/image_raw</imageTopicName>
        <depthImageTopicName>/realsense/depth/image_raw</depthImageTopicName>
        <pointCloudTopicName>depth/points2</pointCloudTopicName>
        <cameraInfoTopicName>/realsense/color/camera_info</cameraInfoTopicName>
        <depthImageCameraInfoTopicName>/realsense/depth/camera_info</depthImageCameraInfoTopicName>
         <pointCloudCutoff>0.2</pointCloudCutoff>
         <pointCloudCutoffMax>10.0</pointCloudCutoffMax>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
        <CxPrime>0.0</CxPrime>
        <Cx>0.0</Cx>
        <Cy>0.0</Cy>
        <focalLength>0.0</focalLength>
      </plugin>
    </sensor>
  </gazebo>

<!--gazebo>
   <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
        <arm>
           <arm_name>robot</arm_name>
           <palm_link>link5</palm_link>
           <gripper_link>finger1</gripper_link>
           <gripper_link>finger2</gripper_link>
        </arm>
       <forces_angle_tolerance>100</forces_angle_tolerance>
       <update_rate>1000</update_rate>
       <grip_count_threshold>1</grip_count_threshold>
       <max_grip_count>2</max_grip_count>
       <release_tolerance>0.005</release_tolerance>
       <disable_collisions_on_attach>true</disable_collisions_on_attach>
       <contact_topic>__default_topic__</contact_topic>
    </plugin>
</gazebo-->
  



<!-- ...........................................control........................................................................... -->

<gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
     <robotNamespace>/</robotNamespace>
     <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
     <legacyModeNS>true</legacyModeNS>
    </plugin>
</gazebo>

<transmission name="base_link1_control">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_1_s">
     <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="base_link1_motor">
     <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
     <mechanicalReduction>3</mechanicalReduction>
    </actuator>
</transmission>

<transmission name="link1_link2_control">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_2_l">
     <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="link2_motor">
     <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
     <mechanicalReduction>3</mechanicalReduction>
    </actuator>
</transmission>

<transmission name="link2_link3_control">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_3_u">
     <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="link3_motor">
     <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
     <mechanicalReduction>3</mechanicalReduction>
    </actuator>
</transmission>

<transmission name="link3_link4_control">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_4_r">
     <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="link4_motor">
     <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
     <mechanicalReduction>2</mechanicalReduction>
    </actuator>
</transmission>

<transmission name="link4_link5_control">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_5_b">
     <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="link5_motor">
     <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
     <mechanicalReduction>2</mechanicalReduction>
    </actuator>
</transmission>

<transmission name="link5_link6_control">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_6_t">
     <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="link6_motor">
     <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
     <mechanicalReduction>2</mechanicalReduction>
    </actuator>
</transmission>

<!--transmission name="link5_finger1_control">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="claw_1b_joint">
     <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="l_finger_motor">
     <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
     <mechanicalReduction>2</mechanicalReduction>
    </actuator>
</transmission-->

        <transmission name="gripper_finger1_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="claw_1b_joint">
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="gripper_finger1_motor">
                <mechanicalReduction>1</mechanicalReduction>
                <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </actuator>
        </transmission>

<!--transmission name="link5_finger2_control">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="r_finger_joint">
     <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="r_finger_motor">
     <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
     <mechanicalReduction>2</mechanicalReduction>
    </actuator>
</transmission-->

  </xacro:macro>
</robot>
