<?xml version="1.0" ?>
<robot name="motoman_motomini" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find motoman_motomini_support)/urdf/motomini_macro_kinect1.xacro" />
  <xacro:motoman_motomini prefix=""/>


  <xacro:include filename="$(find motoman_motomini_support)/urdf/gripper_macro.xacro" />
  
  <xacro:motoman_motomini_gripper prefix="" parent="tool0">
  	<origin xyz="0 0 0" rpy="0 -1.5707 3.142" />
  </xacro:motoman_motomini_gripper>

  <xacro:include filename="$(find motoman_motomini_support)/urdf/realsense_macro.xacro" />
  
  <xacro:motoman_motomini_realsense prefix="" parent="gripper_base">
  	<origin xyz="0.05 0 0.055" rpy="0 0 0" />
  </xacro:motoman_motomini_realsense>
</robot>
