
<launch>
  <include file="$(find motoman_motomini_support)/launch/load_motomini.launch" />
  <param name="use_gui" value="true" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <!--rosparam file="$(find motoman_motomini_support)/config/moto_controller.yaml" command="load"/-->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!--node name="move_arm_node" pkg="motoman_motomini_support" type="move_arm.py"/-->
  <!--node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"  output="screen" args="joint_state_controller
                  arm_controller"/>

  <include file="$(find motoman_motomini_support)/launch/moveit_ur5.launch" /-->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find motoman_motomini_support)/rviz/display_robot.rviz" required="true" />
</launch>



