<?xml version="1.0" ?>

<launch>  
    <include file="$(find ocrtoc_task)launch/filter_pass.launch"/>
  <node pkg="gpd_ros" type="segmentation"  name="filter" />
<node pkg="ocrtoc_task" type="pcl_controller_new.py"  name="pcl_controller" />
  <!--node pkg="gpd_ros" type="pcl_concatenate"  name="point_cloud_contact"/-->
  <!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find gpd_ros)/rviz/disp.rviz"/-->
</launch>

